
#wpadminbar {
    display: none !important;
}

/************************************************
    CSS RESET
************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }

/************************************************
    FONTS
************************************************/


@font-face {
    font-family: 'fgbook';
    src: url('fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fgbook_italic';
    src: url('fonts/franklingothic-bookit-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-bookit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/************************************************
    GENERAL
************************************************/

body {
    width: 100%;
    top: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: fgbook, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.3;
    box-sizing: border-box;
    background-color: #343434;
    color: white;
}

i, em {
    font-family: fgbook_italic, Helvetica, Arial, sans-serif;   
    font-style: italic;
}

#wrapper {
/*    border: 2px solid red;*/
/*    padding-top: 120px;*/
    position: relative;
    min-height: 100vh;
}

.loading {
    text-align: center;
    padding: 8px 0;
    transition: all 0.5s;
    overflow: hidden;
}

.loading > div {
    width: 10px;
    height: 10px;
    background-color: #999;
    margin: 0 6px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0) }
      40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

a, a:visited { 
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
}

a:hover { 
    border-bottom: 1px solid white !important;
}


/************************************************
    MAIN COLUMN
************************************************/

#main_column {
/*    border: 1px solid purple;*/
    width: 70.833%;
/*    height: 500px;*/
    display: inline-block;
/*    position: absolute;*/
    top: 0;
    left: -2px;
}

.main_content {
/*    border: 1px solid red;*/
    width: 94.117%;
    margin-top: 40px;
    margin-bottom: 200px;
    margin-bottom: 20vh;    
    display: none;
}

.loaded {
    display: block;
}

h1 {
    font-family: "Suisse Works", serif;
    font-size: 2em;
    margin: -16px 0 36px 13.045%;
}

h2 {
    margin-bottom: 18px;     
}

.text {
/*    border: 1px solid green;*/
    font-family: "Suisse Works", serif;
    line-height: 1.6;  
    margin: -8px 0 48px 27.716%; 
    width: 45.677%;
}

.text hr { 
    margin: 36px 0; 
}

.news_text {
/*    border: 1px solid green;*/
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
}

.news_left_margin {
/*    border: 1px solid blue;*/
    width: 27.716%;
    display: inline-block;
    vertical-align: top;
}

.news_image_meta {
/*    border: 1px solid blue;*/
    width: 63.2%;
    margin-left: 21.2%;
    margin-top: -2px;
    font-size: 0.75em;
}

.image img {
    width: 100%;
    height: auto;
    margin-bottom: 36px;
/*    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);*/
/*    transition: filter 3s 1s;*/
    transition: filter 2s;
}

.image .two-thirds {
    width: 66.667%;
}

.image .one-third {
    width: 33.333%;
}

#concerts ul {
    margin-bottom: 36px;
}

.media_audio {
    width: 72.284%;
}

#media .media_single {
/*    border: 1px solid pink;*/
    width: 100%;
}

#media .media_single iframe {
    width: 100%;
}


/************************************************
    SECONDARY COLUMN
************************************************/

#secondary_column {
/*    border: 1px solid blue;*/
    width: 29.16667%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -2px;
/*    padding-top: 250px;*/
/*    height: 1000px;*/
}

#secondary_column > * {
/*    border: 1px solid red;*/
    width: 64.814%;
    margin-left: 17.593%;
}

#main_menu {
/*    border: 0px solid green;*/
    border-bottom: 1px solid white;
    padding: 40px 0;
    position: fixed;
    z-index: 9;
    width: 18.9%; /* ABSOLUTE WIDTH */
    right: 5.131%;
    top: 0;
    background-color: #343434;
}

#main_menu li {
    margin-bottom: 8px;
    text-transform: uppercase;
    position: relative;
}

.highlighter {
/*    border: 1px solid green;*/
    position: absolute;
    top: 7px;
    left: -20px;
    width: 6px;
    height: 6px;
    border-radius: 9px;
    background-color: white;
    opacity: 0;
    transition: opacity 1s;
}

#secondary_column .loading {
    margin-top: 300px;
}

#secondary_content {
    display: none;
}

/************************************************
    FOOTER
************************************************/

#footer {
/*    border-top: 1px solid pink;*/
}

#footer hr {
    width: 100%;
}

#partners {
/*    border: 1px solid pink;*/
    margin: 40px 0 0 18.337%;
    width: 63.246%;
    height: 100px;
}









